* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Write CSS code below */

.main-content {
  display: grid;
  max-height: 100vh;
  min-height: 1000px;
  grid-template-columns: 300px 700px;
}

.left-section {
  background-color: black;
  color: aliceblue;
  grid-column: 1 span;
  /*  grid-column-start: 1;
        grid-column-end: 2;  */
}

.right-section {
  background-color: whitesmoke;
  width: 90%;
  grid-column: span 1 / span 2;

  /*   grid-column-start: 2;
        grid-column-end: 3;  */
}

.left-content {
  padding: 1rem;
}

.profile-image img {
  display: block;
  margin: auto;
  border: 5px white solid;
  border-radius: 30%;
  width: 30%;
}

.name {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  padding: 0.8rem;
  text-transform: uppercase;
  word-spacing: 0.02px;
  letter-spacing: 0.02px;
}

.designation {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  color: skyblue;
}

.description {
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem;
}

.icon a img {
  border-radius: 10px;
  width: 30px;
  height: 30px;
  align-content: center;
}

.contact span i {
  width: 10px;
  text-align: center;
}

.skills {
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 0.5rem;
}

.skill-name {
  font-size: 0.65rem;
  font-weight: 0.65rem;
  text-align: left;
  padding-bottom: 0.5rem;
}

.progress-bar {
  border: 1px white solid;
  height: 4px;
  background-color: white;
}

.bar-1 {
  width: 90%;
}

.bar-2 {
  width: 75%;
}

.bar-3 {
  width: 60%;
}

/*  Write code for the right section here */

.right-main-content {
  padding: 2rem 3rem;
}

.right-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 00.5rem;
  letter-spacing: 1px;
}

/* Make the Resume Responsive using Media queries */

@media (max-width: 673px) {
  .main-content {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    min-height: 1000px;
  }
}
